@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 1rem;
}

/* ------------------ Navbar ------------------ */

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
    height: 100%;
    padding: 0;
    margin: 0.5rem;
    color: rgba(0,0,0,.85);
    transition: all .2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255, 122, 122);
}

.navbar-light .navbar-nav .active .nav-link {
    border-bottom: 2px solid black;
}
    
.navbar-light .navbar-right-wrapper {
    align-items: center;
}

.navbar-search-form {
    flex-wrap: nowrap;
    width: 100%;
}

.navbar-icon {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto 0.25rem;
    padding: 0.5rem;
    min-width: 32px;
    background-color: rgb(54, 54, 54);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.btn-nav {
    cursor: pointer;
    border: 0px;
    background: transparent;
}

.navbar-icon:hover,
.navbar-icon:focus {
    background-color: rgb(255, 122, 122);
}


/* ------------------ Hero section ------------------ */

.hero-container {
    background: url('../images/hero-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    text-shadow: 1px 1px 15px black;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-header {
    font-size: 4.5em;
}


/* ------------------ Featured products section ------------------ */

.featured-container {
    background-color: rgb(235, 235, 235);
}

.featured-container h2 {
    text-align: center;
    margin: 2rem 0 1rem;
}

.featured-image-wrapper > img {
    max-width: 100%;
    margin-bottom: 1rem;
}

.featured-content-wrapper {
    margin-bottom: 2rem;
}


/* ------------------ Brands section ------------------ */

.brands-container {
    padding: 2rem;
}

.brands-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.brands-item {
    margin: 1rem;
    transition: all .25s ease-in-out;
}

.brands-item:hover {
    transform: scale(1.1);
}


.brands-item img {
    min-width: 144px;
    width: 144px;
}


/* ------------------ Weekly Winner Video section ------------------ */

.weekly-winner-container {
    background-color: rgb(235, 235, 235);
}

.weekly-winner-container h2 {
    text-align: center;
    margin: 2rem 0 1rem;
}

.weekly-winner-container video {
    max-width: 100%;
    height: auto;
}




/* ------------------ Buttons ------------------ */

.btn {
    text-transform: capitalize;
}

.btn-primary-custom,
.btn-outline-custom {
    border: 1px solid;
}

.btn-primary-custom {
    background-color: rgb(255, 122, 122);
    border-color: white;
    color: white;
}

.btn-secondary-custom {
    background-color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: white;
}

.btn-outline-custom {
    border-color: white;
    background-color: transparent;
    color: white;
}

.btn-primary-custom:hover,
.btn-primary-custom:focus {
    background-color: transparent;
    color: white;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-secondary-custom:hover,
.btn-secondary-custom:focus {
    border-color: rgb(255, 122, 122);
    background-color: rgb(255, 122, 122);
    color: rgb(0, 0, 0);
}


/* ------------------ Media Queries ------------------ */

@media (max-width: 768px) {
    .form-inline .form-control {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero-header {
        font-size: 3em;
    }

    .hero-content .lead {
        font-size: 1em;
    }

    .hero-container .btn-primary-custom, 
    .hero-container .btn-outline-custom {
        width: 100%;
    }
}